.chatHeader_hash > img {
    height: 50px;
    height: 40px;
    margin-top: 5px;
    margin-right: -3px;
}
.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(240, 240, 240);
    padding: 0px;
    background-color: #9e9895;
    font-family: bebas;
    letter-spacing: 3px;
}

.chatHeader_hash {
    color: gray;
    font-size: 25px;
    padding: 10px;
}

.chatHeader_left > h3 {
    display: flex; 
    align-items: center;
    color: white;
}

.chatHeader_right {
    display: flex;
    align-items: center;
    flex: 0;
    justify-content: space-between;
    margin: 10px 20px;
    transition: ease-out 0.3s;
    border-radius: 20px;
    border: 10px;
    padding: 12px;
    color: white;
}

.chatHeader_right:hover {
    opacity: 0.8;
    background-color: rgb(129, 123, 123);
    border-radius: 20px;
    border: 10px;
    transition: ease-out 0.2s;
    padding: 12px;
}

.chatHeader_right > .MuiSvgIcon-root {
    padding: 5px;
    cursor:pointer;
    border-radius: 20px;
    transition: ease-out 0.1s;
}

.chatHeader_right > .MuiSvgIcon-root:hover {
    color: white;
    transition: ease-out 0.1s;
}

.chatHeader_search {
    display: flex;
    align-items: center;
    color: gray;
    border-radius: 20px;
    padding: 3px;
    margin-left: 15px;
    margin-right: 15px;
}


.chatHeader_search > form > input{
    background: transparent;
    outline-width: 0;
    color: rgb(56, 56, 56);
    border: none;
    letter-spacing: 0.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px;
}

.chatHeader_search {
    background-color: #ffffff;
}

.chatHeader_search:hover {
    cursor: pointer;
}
