.leftIcon {
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    display: flex;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: black;
    height: 100vh;
}

.chat_messages {
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: ease-out 5s;
}

.chat_messages::-webkit-scrollbar {
    display: none;
}

.chat_input {
    color: rgb(94, 94, 94);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px;
    border-radius: 50px;
    margin: 25px;
    border-top: 0.5px solid #d6cbc7;
    background-color: #f8f8f8;
}

.chat_input > form > input {
    padding: 12px;
    background: transparent;
    border: none;
    width: 100%;
    outline-width: 0;
    color: rgb(94, 94, 94);
    font-size: medium;
}

.chat_input > form > input::placeholder {
    color: rgb(114, 114, 114);
}

.chat_input > form {
    flex: 1;
}

.chat_inputButton {
    display: none;
}

.chat_input > form > button[type='submit'] {
    transition: ease-out 5s;
}

.chat_inputIcons > .MuiSvgIcon-root {
    padding: 5px;
    margin-right: 10px;
    transition: ease-out 0.1s;
    border-radius: 100%;
}

.chat_inputIcons > .MuiSvgIcon-root:hover {
    border-radius: 100%;
    cursor: pointer;
    transition: ease-out 0.1s;
    background-color: #dfdfdf;
}

.chat_input > form > input {
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

.chat {
    background-color: #d1c7c4;
}

.emojiIcon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -10px;
    transition: ease-out 0.2s;
    padding-right: 45px;
    padding-left: 40px;
    padding-top: 20px;
}
