
.message {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(112, 112, 112);
    border-radius: 35px 35px 35px;
    margin: 50px 80px;
    background-color: white;
}

.message_info {
    margin-left: 20px;
}

.message_info > h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: bebas;
}

.message_info > p {
    font-size: 14px;
    margin: 10px;
    margin-left: 1px;
    letter-spacing: 0.2px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(65, 65, 65);
}

.message_timestamp {
    color: rgb(139, 139, 139);
    margin-left: 25px;
    font-size: 13px;
    font-family: bebas;
    letter-spacing: 1.4px;
}